/* Estilização do cabeçalho */
#topo {
    background-color: var(--cor-primaria); /*Definindo fundo*/
    color: white;
    padding: 15px 0;                       /* Definindo espaço nas laterais */
    position: fixed;
    top: 0;
    width: 100%;                           /* 100% da largura do container */
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#topo .container {
    width: 100%;
    margin: 0 auto;                        /* 0 -> Superior e inferiro; auto -> esquerda e direira automáticamente */
    padding: 0 20px;                       /* 0 -> cima e embaixo; 20px esquerda e direita */
    display: flex;                         /* Obedecem o flexbox */
    justify-content: space-between;        /* Divide os itens entre esquerda e direita */
    align-items: center;                   /* Alinha os itens verticalmente no centro */
}

#topo .logo-title {
    display:flex;
    align-items: center;
    gap: 15px;

    img {
        height: 40px;

        &:first-child {
            margin-right: 5px;
        }
    }

    h1 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3;
    }
}

#topo nav {
    ul {
        display: flex;
        list-style: none;
        gap: 25px;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
            color: #3498db;
        }
    }
}