/* Estilo da seção objetivo */
#objetivo {
    width: 100vw;
    height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;

    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 2.2rem;
        line-height: 1.3;
        text-align: center;
        margin: 0 auto 40px;
        color: var(--cor-primaria);
    }

    article {
        max-width: 800px;
        text-align: center;

        p {
            font-size: 1.4rem;
            line-height: 1.7;
            color: #333;
        }
    }

}